{% if is_paginated %}
  <nav >
  <ul class="pager">
    {% if page_obj.has_previous %}
        <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
      {% else %}
          <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
      {% endif %}

    {% if page_obj.has_next %}
      <li class="next"><a href="?page={{ page_obj.next_page_number }}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
    <li class="next disabled"><a href="#">Próximo<span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}


