{% extends "base.html" %}
{%block pageHeader%}<span style="float:right"> TODO INPUT TO SEARCH</span>{%endblock pageHeader%}
{%block content%}
<a href="{% url 'library:new-borrowing' %}" type="button" class="btn btn-default" style="margin-bottom:20px">Criar novo empréstimo</a>
{%if object_list%}
<table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>Código</th>
        <th>Livro</th>
        <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    {% for borrowing in object_list %}
        <tr>
          <td>{{borrowing.id}}</td>
          <td>{{borrowing.book}}</td>
          <td>{{borrowing.user}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{%else%}
<div class="alert alert-info" role="alert">Você não possui empréstimos cadastrados.</div>
{%endif%}
{% include 'snippets/pagination.html' %}
{%endblock content%}