{%extends 'base.html'%} {%block content%}

<form action="" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group {%if field.errors|length > 0%}has-error{%endif%}">
            {% if field.errors  %}
                {% for error in field.errors %}
                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                {% endfor %}
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-default">Registrar no sistema</button>
</form>
<!-- <script>
$(function() {
    $("#id_book").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{% url 'library:books-list-api' %}",
                data: { query: request.term },
                success: function(data) {
                    var transformed = $.map(data, function(el) {
                        return {
                            label: el.name,
                            id: el.id
                        };
                    });
                    response(transformed);
                },
                error: function() {
                    response([]);
                }
            });
        }
    });
    $("#id_user").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{% url 'library:users-list-api' %}",
                data: { query: request.term },
                success: function(data) {
                    var transformed = $.map(data, function(el) {
                        return {
                            label: el.name,
                            id: e.id
                        };
                    });
                    response(transformed);
                },
                error: function() {
                    response([]);
                }
            });
        }
    });
});
</script> -->
{%endblock content%}