{%extends 'base.html'%}


{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuários</h3>
            </div>
            <div class="panel-body">
                <a type="button" href="{%url 'library:users-list' %}" class="btn btn-primary btn-block">Manipule os usuários</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Livros</h3>
            </div>
            <div class="panel-body">
                <a type="button" href="{%url 'library:books-list' %}" class="btn btn-primary btn-block">Manipule os livros</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Empréstimos</h3>
            </div>
            <div class="panel-body">
                <a type="button" href="{%url 'library:borrowings-list' %}" class="btn btn-primary btn-block">Manipule os empréstimos</a>

            </div>
        </div>
    </div>
</div>
{%endblock content%}
