{% extends "base.html" %}
{%block pageHeader%}<span style="float:right"> TODO INPUT TO SEARCH</span>{%endblock pageHeader%}
{%block content%}
<a href="{% url 'library:new-user' %}" type="button" class="btn btn-default" style="margin-bottom:20px">Criar novo usuário</a>
{%if object_list%}
<table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% for userLibrary in object_list %}
        <tr>
          <td>{{userLibrary.id}}</td>
          <td>{{userLibrary.name}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{%else%}
    <div class="alert alert-info" role="alert">Você não possui usuários cadastrados.</div>
{%endif%}
{% include 'snippets/pagination.html' %}
{%endblock content%}