{%extends 'base.html'%}


{%block content%}
<form action="" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="form-group {%if field.errors|length > 0%}has-error{%endif%}">
            {% if field.errors  %}
                {% for error in field.errors %}
                    <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                {% endfor %}
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-default">Registrar no sistema</button>
</form>
{%endblock content%}
